---

import { getEntry, render } from "astro:content";
import GiscusComments from "@components/GiscusComments.astro";
import Markdown from "@components/misc/Markdown.astro";
import { Icon } from "astro-icon/components";
import { siteConfig } from "../config";
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import MainGridLayout from "../layouts/MainGridLayout.astro";

const aboutPost = await getEntry("spec", "about");

if (!aboutPost) {
	throw new Error("About page content not found");
}

const { Content } = await render(aboutPost);
---
<MainGridLayout title={i18n(I18nKey.about)} description={siteConfig.description}>
    <div class="card-base p-6 md:p-8">
        <div class="flex items-center gap-2 mb-6">
            <div class="h-8 w-8 rounded-lg bg-[var(--primary)] flex items-center justify-center text-white dark:text-black/70">
                <Icon name="material-symbols:person" class="text-[1.5rem]" />
            </div>
            <h1 class="text-2xl font-bold text-black dark:text-white">{i18n(I18nKey.about)}</h1>
        </div>

        <Markdown class="mt-2 mb-8">
            <Content />
            <hr>
        </Markdown>
        <!-- 评论区 -->
        <GiscusComments />
    </div>
</MainGridLayout>